body {
  font-family: sans-serif;
  width: 350px;
  padding: 10px;
  font-size: 1.2rem;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#title {
  font-weight: bold;
  font-size: 1.5rem;
}

#countdown {
  color: dimgray;
  font-weight: bold;
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 10px 0px 50px;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0;
  font-size: 0.9em;
}

code {
  font-family: monospace;
  font-size: 1.1em;
  background: #f3f3f3;
  padding: 2px 6px;
  border-radius: 4px;
}

button {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}
